force-app/main/default/flows/OpportunityRecord_ShowCaseDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add To High Priority Cases</description>
        <name>AddToHighPriorityCases</name>
        <label>Add To High Priority Cases</label>
        <locationX>773</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>highPriorityCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>myCaseInALoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_High_Priority_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Number of Cases</description>
        <name>Assign_Number_of_Cases</name>
        <label>Assign Number of Cases</label>
        <locationX>390</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_High_Priority_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AssignNumberOfHighPriorityCases</description>
        <name>AssignNumberOfHighPriorityCases</name>
        <label>AssignNumberOfHighPriorityCases</label>
        <locationX>670</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>NumberOfHighPriorityCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>highPriorityCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayResults</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>is High Priority Case</description>
        <name>isHighPriorityCase</name>
        <label>is High Priority Case</label>
        <locationX>747</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Sum_High_Priority_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isHighPriority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myCaseInALoop.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToHighPriorityCases</targetReference>
            </connector>
            <label>isHighPriority</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if we have an opportunity</description>
        <name>recordId_startsWith_006</name>
        <label>recordId startsWith 006</label>
        <locationX>42</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Display_Wrong_sObject_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opportunityCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>opportunityCheck</label>
        </rules>
    </decisions>
    <description>Shows Account&#39;s open cases on a Opportunity Page</description>
    <interviewLabel>OpportunityRecord_ShowCaseDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityRecord_ShowCaseDetails</label>
    <loops>
        <description>Sum High Priority Cases</description>
        <name>Sum_High_Priority_Cases</name>
        <label>Sum High Priority Cases</label>
        <locationX>390</locationX>
        <locationY>559</locationY>
        <assignNextValueToReference>myCaseInALoop</assignNextValueToReference>
        <collectionReference>Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isHighPriorityCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignNumberOfHighPriorityCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Cases from Opp.AccountId</description>
        <name>Get_Cases_from_Opp_AccountId</name>
        <label>Get Cases from Opp.AccountId</label>
        <locationX>425</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpp.AccountId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Priority</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>301</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases_from_Opp_AccountId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errors</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>currentOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Wrong_sObject_Type</name>
        <label>Display: Wrong sObject Type</label>
        <locationX>50</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_WrongSobjectType</name>
            <fieldText>This flow is meant to run for Opportunities only</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayResults</name>
        <label>Display Results</label>
        <locationX>1063</locationX>
        <locationY>690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cardHighPrioCases</name>
            <extensionName>c:flowLightningCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>High Priority:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:first_non_empty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayValue</name>
                <value>
                    <elementReference>NumberOfHighPriorityCases</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cardCases</name>
            <extensionName>c:flowLightningCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayValue</name>
                <value>
                    <elementReference>NumberOfCases</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Total: </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows Erros</description>
        <name>Errors</name>
        <label>Errors</label>
        <locationX>362</locationX>
        <locationY>10</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>recordId_startsWith_006</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>Cases</description>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>currentOpp</description>
        <name>currentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>highPriorityCases</description>
        <name>highPriorityCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>myCaseInALoop</description>
        <name>myCaseInALoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>NumberOfCases</description>
        <name>NumberOfCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>NumberOfHighPriorityCases</description>
        <name>NumberOfHighPriorityCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>current page&#39;s recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
